<% include partials/header %>
<% include partials/navbar %>
    <div class="container">
        <h3 class="text-center">Review Form</h3>
            <div class="text-center"><button class="btn btn-primary">View Application PDF &raquo;</button></div>
            <hr>
            <form id="review-form" action="/roles/committee/" method="POST">
                    <fieldset><legend style="color:blue;font-weight:bold;">General Information</legend>
                    <div class="row text-center" >
                            <div class="col-sm-3">
                                    <div class="form-group">
                                        <h5>Student Number:</h5>
                                        <p id="sid"><%= sid %></p>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5>Last Name:</h5>
                                            <p id="lname"><%= lname %></p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5>First Name:</h5>
                                            <p id="fname"><%= fname %></p>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5>Degree Applied For:</h5>
                                            <p id="degree"><%= degree %></p>
                                        </div>
                                    </div>
                    </div>

                    <fieldset><legend style="color:blue; font-weight:bold;">Previous Grades</legend></fieldset>

                    <div class="row text-center">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                    <div class="form-group">
                                        <h5>GPA</h5>
                                        <p id="gpa"><%= gpa %></p>
                                    </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                        <div class="form-group">
                                            <h5>GRE</h5>
                                            <p id="gre"><%= gre || 'N/A' %></p>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                    <div class="form-group">
                                            <div class="form-group">
                                                <h5>TOEFL</h5>
                                                <p id="toefl"><%= toefl || 'N/A' %></p>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-sm-2">
                                    <div class="form-group">
                                            <div class="form-group">
                                                <h5>IELTS</h5>
                                                <p id="ielts"><%= ielts || 'N/A' %></p>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-sm-2">
                                    <div class="form-group">
                                            <div class="form-group">
                                                <h5>YELT</h5>
                                                <p id="yelt"><%= yelt || 'N/A' %></p>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-sm-1"></div>
                    </div>

                    <fieldset><legend style="color:blue;font-weight:bold;" <% if(status === 'Submitted') {%> hidden="true" <% }%>>Previous Institutions</legend>

                    <div class="row text-center" <% if(status === 'Submitted') {%> hidden="true" <% } %>>
                            <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="prev_uni">Institution Name(s)</label>
                                    <select id="prev_uni" name="prev_uni" class="form-control selectpicker show-menu-arrow" data-live-search="true" multiple>
                                            <% if (!loaded_uni) { %>
                                                <% for(var i = 0; i < unis.length; i++){ %>
                                                    <option><%= unis[i]%></option>
                                                <%}%>
                                            <%} else { %>
                                                <% for(var i = 0; i < unis.length; i++){ %>
                                                    <% if (loaded_uni.includes(unis[i])) { %>
                                                        <option selected><%= unis[i]%></option>
                                                    <%} else { %>
                                                        <option><%= unis[i]%></option>
                                                    <%} %>
                                                <%}%> 
                                            <%}%>
                                        </select>                
                                    </div>
                            </div>

                            <div class="col-sm-6">
                                    <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="new_uni" id="new_uni">
                                            <label class="form-check-label" for="new_uni">Add Institution</label>
                                            <input type="text" class="form-control" id="new_uni_name" name="new_uni_name" placeholder="Institution Name" style="margin-bottom:5px" disabled>
                                            <input class="btn btn-primary" type="button" id="new_uni_btn" name="new_uni_btn" value="Add" style="margin-bottom:5px" disabled>
                                            <p id="inst_exists" class="text-danger" hidden></p>
                                    </div>
                            </div>
                    </div>

                    <div class="row text-center" <% if(status === 'Submitted') {%> hidden="true" <% } %>>
                            <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="uni_desc">Institution Assessment(s)</label>
                                    <label id="all_desc" hidden><%= JSON.stringify(uni_desc)%></label>
                                    <select id="uni_desc" name="uni_desc" class="form-control selectpicker show-menu-arrow" data-live-search="true" multiple disabled>
                                            <% for (var i = 0; i < loaded_assessment.length; i++) { %>
                                                <optgroup label= "<%= loaded_assessment[i]['u_Name'] %>">
                                                    <% for (var j = 0; j < uni_desc.length; j++) { %>
                                                        <% if (loaded_assessment[i]['u_Name'] === uni_desc[j]['u_Name']) { %> 
                                                            <% for (var k = 0; k < uni_desc[j]['u_Assessments'].length; k++) { %>
                                                                <% if (loaded_assessment[i]['u_Assessments'].includes(uni_desc[j]['u_Assessments'][k])) { %> 
                                                                    <option selected><%= uni_desc[j]['u_Assessments'][k] %></option>
                                                                <% } else { %> 
                                                                    <option><%= uni_desc[j]['u_Assessments'][k] %></option>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    <% } %>
                                                </optgroup>
                                            <% } %>
                                        </select>
                                    </div>
                            </div>

                            <div class="col-sm-6">
                                    <div class="form-check">
                                        <input type="checkbox" name="asstradio" id="add_assessment" disabled>
                                        <label class="form-check-label" for="add_assessment">Add Assessment</label>
                                        <select class="form-control selectpicker show-menu-arrow" data-live-search="true" id="select_add_assessment" disabled></select>
                                        <textarea class="form-control" id="assessment" name="assessment" rows="2" placeholder="New Assessment" style="margin-bottom:5px" disabled></textarea>
                                        <input class="btn btn-primary" type="button" id="assessment_btn" name="assessment_btn" value="Add" style="margin-bottom:5px" disabled>
                                        <p id="assmt_exists" class="text-danger" hidden></p>
                                    </div>
                            </div>
                    </div>

                    <div id="all-assmts" class="row"></div>

                    <fieldset><legend style="color:blue;font-weight:bold;">Background and Research Information</legend>

                    <div class="row text-center">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="background">Background Information</label>
                                        <% if(status === 'Submitted') { %> 
                                            <p id="background"><%= loaded_background || 'N/A' %></p>
                                        <% } else { %> 
                                            <textarea class="form-control" id="background" name="background" rows="4" placeholder="Background Information"><%= loaded_background %></textarea>
                                        <%} %>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="research">Research Experience</label>
                                        <% if(status === 'Submitted') { %> 
                                            <p id="research"><%= loaded_research || 'N/A' %></p>
                                        <% } else { %> 
                                            <textarea class="form-control" id="research" name="research" rows="4" placeholder="Research Experience"><%= loaded_research %></textarea>
                                        <%} %>
                                    </div>
                                </div>
                    </div>

                    <fieldset><legend style="color:blue;font-weight:bold;">Letter Analysis and Additional Comments</legend>
                    <div class="row text-center">
                            <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="letter">Letter of Intent Analysis</label>
                                        <% if(status === 'Submitted') { %> 
                                            <p id="letter"><%= loaded_letter || 'N/A' %></p>
                                        <% } else { %> 
                                            <textarea class="form-control" id="letter" name="letter" rows="4" placeholder="Letter Analysis"><%= loaded_letter %></textarea>
                                        <%} %>
                                    </div>
                                </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="comments">Additional Comments</label>
                                    <% if(status === 'Submitted') { %> 
                                        <p id="comments"><%= loaded_letter || 'N/A' %></p>
                                    <% } else { %> 
                                        <textarea class="form-control" id="comments" name="comments" rows="4" placeholder="Additional Comments"><%= loaded_comments %></textarea>
                                    <%} %>
                                </div>
                            </div>
                </div>

                <fieldset><legend style="color:blue;font-weight:bold;">Final Rank</legend>
                <div class="row">
                        <div class="col-sm-4">
                                <div class="form-group">
                                <label for="rank">Applicant Rank</label>
                                <% if(status === 'Submitted') { %> 
                                    <p id="rank"><%= loaded_rank || 'N/A' %></p>
                                <% } else { %> 
                                    <select id="rank" name="rank" class="form-control selectpicker show-menu-arrow" data-live-search="true" required <% if(status === 'Submitted') {%> disabled="true" <% } %>>
                                        <option <%= !loaded_rank ? "selected" : "" %>>-</option>
                                        <option <%= loaded_rank && loaded_rank === 'A+' ? "selected" : "" %>>A+</option>
                                        <option <%= loaded_rank && loaded_rank === 'A' ? "selected" : "" %>>A</option>
                                        <option <%= loaded_rank && loaded_rank === 'B+' ? "selected" : "" %>>B+</option>
                                        <option <%= loaded_rank && loaded_rank === 'B' ? "selected" : "" %>>B</option>
                                        <option <%= loaded_rank && loaded_rank === 'C' ? "selected" : "" %>>C</option>
                                    </select>
                                    <p id="rank_exists" class="text-danger" hidden></p>
                                <%} %>
                                </div>
                        </div>
                </div>

                    <% if (status === 'New' || status === 'Draft') { %>
                        <button id="review-close" type="submit" name="cancel" class="btn btn-danger btn-default pull-center"><span class="glyphicon glyphicon-remove"></span> Cancel Review</button>
                        <button id="review-save" type="submit" name="draft" class="btn btn-success btn-default pull-center"><span class="glyphicon glyphicon-save"></span> Draft Review</button>
                        <button id="review-submit" type="submit" name="upload" class="btn btn-success btn-default pull-center" disabled><span class="glyphicon glyphicon-cloud-upload"></span> Submit Review</button>
                    <% } else { %>
                        <a id="review-close" href="/roles/committee" class="btn btn-danger btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Exit</a>
                    <%}%>
                </form>
    </div>
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.metadata.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="https://web.archive.org/web/20161124120603js_/http://www.papercut.com/products/free-software/are-you-sure/jquery.are-you-sure.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/js/committee-review.js"></script>
</body>
